<!DOCTYPE html>

<head>
    
    <title>Mi sitio web - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>

    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('aplication') }}">Hola</a> </li>
            <li><a href="{{ url_for('code', code = 'print(code)')}}">Code</a></li>
            <li><a href="{{ url_for('register')}}">Registar Usuario</a></li>
            

        </ul>
    </nav>
   

    {% block content %}
    <!--Bloque contenido -->
    {% endblock %}
    
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>

    
</body>
</html>